playground.ipynb
playground.py

.vscode

*.zip

.venv

__pycache__
# Dateien, die beim Ausführen des File-Handling-Notebooks entstehen
basics/5_file_handling/*
!basics/5_file_handling/file_handling.ipynb
!basics/5_file_handling/einkaufsliste.txt
